.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body > img {
  border-radius: 30px;
  max-width: 500px;
  max-height: 400px;
}
.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}
.post__comments {
  padding: 10px;
}
.post__commentBox {
  margin-top: 10px;
  display: flex;
}

.post__input {
  flex: 1;
  border: none;
  
  outline-width: 0;
  border: none;
  padding: 10px 20px;
  border-radius: 900px;
  background-color: #eff2f5;
}

.post__button {
  border: none;

  color: #ca747f;
  background-color: transparent;
  flex: 0;
}
